/*instrucciones generales*/
* { margin: auto; }
/*cabecera de la página*/
h1 { text-align: center; padding: 0.5em; }
/*div principal del calendario*/
#calendario { border: 1px; max-width: 536px; 
              background-color:white; text-align: center; }
/*tabla del calendario*/
#diasc { border: 1px; border-collapse: 
         separate; border-spacing: 4px; }
#diasc th,#diasc td { font: normal 14pt arial; width: 70px; height: 30px; }
#diasc th { color: white; background-color: #3a4b53 }
#diasc td { color: white; background-color: #e0e7eb }
/*línea de la fecha actual*/
#fechaactual { font: bold 12pt arial; padding: 0.4em }
#fechaactual i { cursor: pointer ; }
#fechaactual i:hover { color: red; text-decoration: underline; }
/*formulario de busqueda de fechas*/
#buscafecha { background-color: white; color: #3a4b53; font: bold 12pt arial; padding: 5px }
#buscafecha select, #buscafecha input  { background-color: #546d78; 
            color: white; font: bold 10pt arial;  }
#buscafecha [type=text]  { text-align: center; }
#buscafecha  [type=button] { cursor: pointer; }
/*cabecera del calendario*/ 
#anterior { background-color: #3a4b53; color: white; float: left; width: 100px; font: bold 12pt arial; text-decoration: ;
          padding: 0.5em 0.1em; cursor: pointer ; }
#posterior { background-color: #3a4b53; color: white; float: right; width: 100px; font: bold 12pt arial; text-decoration: ;
          padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {background-color: #698996; color: white; text-decoration:;}
#posterior:hover {background-color: #698996; color: white; text-decoration:;}
#titulos { font: normal 20pt "arial black"; padding: 0.2em; }

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: red;
    color: red;
}

.previous {
    background-color: red;
    color: red;
}

.next {
    background-color: red;
    color: red;
}

.round {
    border-radius: 50%;
}