* {box-sizing: border-box}
body {
    font-family: "Lato", sans-serif;

}

a:link {
    text-decoration:none;
}

#fondo {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position:fixed;
    z-index: -1;
}


/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 600px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    font: oblique 16pt "Lucida Handwriting";
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
   /* float: left;  En cas de desordre dels productes activar*/
    padding: 0 12px 0 12px;
    border: 1px solid #ccc;
    width: 78%;
    border-left: none;
    height: 600px;
    overflow-y: scroll;
    background-color: white;
}

#titulo {
    width: 26%;
    padding: 0 0 0 0;
    vertical-align: top;
    text-align: center;
    /*   border-style: groove;
       border-color: red;  */

}

#subtitulo {
    margin-top: -4px;
    margin-bottom: -8px;
    font: oblique 16pt "Harlow Solid Italic";
}

#valor {
    margin: -20px 0 5px 0;
    font: oblique 18pt "Harlow Solid Italic";
}

#celda {
    height: 320px;
    width: 26%;
    padding: -50px 30px 0 30px;
    vertical-align: top;
    text-align: center;
    /*   border-style: groove;
       border-color: red;   */
}

#descripcion {
    height: 85px;
    width: 85%;
    margin: 2px/*superior*/auto/*dreta*/0/*inferior*/auto;/*esquerra*/  /*Marge exterior*/
    line-height: 0.7;
    vertical-align: top;
    position: center;
    text-align: left;
    font: oblique bold 12px cursive;
    /* border-style: groove;
     border-color: red;  */
}

h3 {
    text-align: center;
    font: bold oblique 22pt "Mistral";
    margin-top: 8px;
    margin-bottom: 20px;
}

.invalor {
    height: auto;
    width: 40px;
}

.buttonagregar {
    color: #fff !important;
    background-color: #4CAF50 !important;
    text-align: center;
    border-radius: 10px!important;
    border: none;
    display: inline-block;
    outline: 0;
    width: 19%;
    height: 22px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.buttonagregar:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5), 0 0 10px 3px rgba(0, 0, 0.5, 0.3)
}

.divcarrito {
    margin: 30px/*superior*/auto/*dreta*/0/*inferior*/20%;/*esquerra*/  /*Marge exterior*/
    padding-left: 30px;
    border: 2px solid #ccc;
    background: rgba(0, 191, 255, 0.7);
    border-style: double;
    border-color: white;
    width: 20%;
    height: 200px;
    text-align: left;
    font: bold 12pt "Aria";
    box-shadow: 0px 0px 13px 3px grey;

}

.divcarrito {
    margin: 30px/*superior*/auto/*dreta*/0/*inferior*/20%;/*esquerra*/  /*Marge exterior*/
    padding-left: 30px;
    border: 2px solid #ccc;
    background: rgba(76, 175, 80, 0.7);
    border-style: double;
    border-color: white;
    width: 20%;
    height: 230px;
    text-align: left;
    font: bold 12pt "Aria";
    box-shadow: 0px 0px 13px 3px grey;

}

h4 {
    color: white;
    font: bold 20pt "Agency FB";
    margin-top: 150px;
    margin-right: 5px;
    text-align: right;
    position: absolute;
    left: 33%;
    top: 75%;



}



/* .borderimg {
    border-style: groove;
}
*/