* {
    margin: 0px;
    padding: 0px;

}


body {
    margin:0;
    font-family: Arial;
}

.sidenave {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenave a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenave a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.nohover {
    color: #818181;

}

.sidenave .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.recargar {
    position: absolute;
    top: 10px;
    float: left;
}
.recargar:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 16px;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-left: 5px;

}


    tr, td {
        padding: 7px;
        background-color: lightgrey;
        border-color: white;
        text-align: center;
    }

    th {
        background-color: #a6a6a6;
        padding: 7px;
        border-color: white;
        text-align: center;
    }


.tdsinfondo {
    background-color: transparent;
}

.tdsinfondoinfo {
    background-color: transparent;
    text-align: left;
}


.pendientepago {
    background-color: #3366cc;
}

.entregado {
    background-color: #109618;
}

.pendienteentrega {
    background-color: #ff9900;
}

.productos {
    text-align: left;
}

.text2 {
    font-size:16px;
    font-family:calibri;
    font-weight:bold;
    color:black;

}
.parpadea {

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.buttonagregar {
    color: #fff !important;
    background-color: #4CAF50 !important;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px!important;
    border: none;
    display: inline-block;
    outline: 0;
    width: auto;
    height: 40px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.buttonagregar:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5), 0 0 10px 3px rgba(0, 0, 0.5, 0.3)
}

div#body{
    margin: auto;
    margin-top: 0px;
    width: 1800px;
    height: 500px;
    border:1px solid white;
    border-top: none;
    border-bottom: none;


}

div#izquierda{
    width: 868px;
    height:500px;
  /*  background-color: beige; */
    float: left;
    overflow-y: scroll;
}

div#chart_container{
    width: 868px;
    height:500px;
    background-color: beige;
    float: left;
}

div#centro {
    width: 64px;
    height: 500px;
  /*  background-color: beige; */
    float: left;
}

div#derecha{
    width: 868px;
    height: 500px;
  /*  background-color: beige;  */
    float: left;
    overflow-y: scroll;
}

/* Titulos de divs */

div#bodytitulo{
    margin: auto;
    margin-top: 30px;
    width: 1800px;
    height: 30px;

}

div#izquierdatitulo{
    width: 600px;
    height:30px;
    float: left;

}

div#centrotitulo{
    width: 600px;
    height: 30px;
    float: left;
    text-align: center;

}

div#derechatitulo{
    width: 600px;
    height: 30px;
    float: left;

}

/* Subitulos de divs */

div#bodysubtitulo{
    margin: auto;
    margin-top: 30px;
    width: 1800px;
    height: 30px;
}

div#izquierdasubtitulo{
    width: 868px;
    height:30px;
    float: left;
}

div#centrosubtitulo{
    width: 64px;
    height: 30px;
    float: left;
}

div#derechasubtitulo{
    width: 868px;
    height: 30px;
    float: left;
}

/* Cuadrados inferiores ID */

div#bodycuadrados{
    margin: auto;
    margin-top: 30px;
    width: 1800px;
    height: 100px;


}

div#izquierdacuadrado{
    width: 868px;
    height:100px;
    float: left;



}

div#centrocuadrado{
    width: 64px;
    height: 100px;
    float: left;

}


div#derechacuadrado{
    width: 868px;
    height: 100px;
    float: left;


}

#mySidenav a {
    position: absolute;
    left: -136px;
    transition: 0.3s;
    padding: 5px;
    width: 145px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#est-1 {
    top: 820px;
    background-color: #109618;
}

#est-2 {
    top: 860px;
    background-color: #990099;
}

#est-3 {
    top: 700px;
    background-color: #3366cc;

}

#est-4 {
    top: 740px;
    background-color: #dc3912;
}

#est-5 {
    top: 780px;
    background-color: #ff9900;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0px;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #111;
    margin-top: 9%;
    margin-left: 12%;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    color: #818181;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

hr {
    border: 1px solid #818181;
}





