@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
html {
    zoom: 110%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("../peticiones/fondo1.jpg")no-repeat center center fixed;
    background-size: cover;
}
body {
    color: #FFFFFF;
    font-family: calibri;
    /*´Open Sans´, Arial, sans-serif;*/
    line-height: 1.5em;
    font-size: 16px;
}
a:hover {
    text-decoration: underline;
}
input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}
p {
    line-height: 1.5em;
}
.clearfix {
    *zoom: 1;
}
/* For IE 6/7 */
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}

/* ---------- LOGIN ---------- */
#login {
    /*margin-left: 15%;*/
    margin-top: 130px;
    /*width: 280px;
    float:left;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#conditions {
    /*margin-left: 7%;*/
    margin-top: 40px;
    /*width: 450px;
    float:left;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#title {
    /*margin-left: 7%;*/
    margin-top: 85px;
    /*width: 450px;
    float:left;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    /*border: 1px solid #FFF;
    padding: 30px;*/
}
#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #ffffff;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
#login form input {
    height: 50px;
}
#login form input[type="password"],
input[type="usuario"] {
    background-color: #474e56;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #ffffff;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 198px;

}
#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #319e9c;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    width: 280px;
}
#login form input[type="submit"]:hover {
    background-color: #248280;
}
#login>p {
    text-align: left;
}
#login>p span {
    padding-left: 5px;
    text-align: left;
}
#centre {
    text-align: left;
}
