#a1{
    display: block;
    margin: auto;
    width: 35%;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
}
.a2{
   display: block;
    margin: auto;
    width: 180px;
}

.a3{
    margin-top: -10px;
    display: block;
    margin: auto;
    width: 140px;
}

.a4{
    display: block;
    margin: auto;
    width: 80px;
}

.muno{
        margin-top: 20px;
        margin-left: 150px;
	background-color: white;
	color: black;
	width: 500px;
	height: 180px;
	text-align: center;
        display: block;
	float: left;
}
#mdos{
    padding-top: 15px;
    padding-bottom: 15px;
}
.mdos{
        margin-top: 20px;
        margin-right: 250px;
	background-color: white;
	color: black;
	width: 500px;
	height: 180px;
	text-align: center;
        display: block;
	float: right;
}

#titol{
    font-size: 45px;
    display: block;
    margin: auto;
    /*background-color: aqua;*/
    width: 35%;
    text-align: center;
    color: white;
    /*float: right;
    position: relative;
    right: 10px;*/
}
#titol2{
    font-size: 45px;
    display: block;
    margin: auto;
    /*background-color: aqua;*/
    width: 35%;
    text-align: center;
    /*text-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px #ff0000;*/
    /*float: right;
    position: relative;
    right: 10px;*/
    text-decoration: none;
}
/* #titol2:hover{
    font-size: 45px;
    display: block;
    margin: auto;
    /*background-color: aqua;
    width: 35%;
    text-align: center;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.7);
    /*text-shadow: 2px 2px #ff0000;*/
    /*float: right;
    position: relative;
    right: 10px;
    text-decoration: none;
}
#titol2:active{
    font-size: 45px;
    display: block;
    margin: auto;
    /*background-color: aqua;
    width: 35%;
    text-align: center;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.9), 0 6px 20px rgba(0, 0, 0, 1);
    /*text-shadow: 2px 2px #ff0000;*/
    /*float: right;
    position: relative;
    right: 10px;
    text-decoration: none;
}  */
.w3-container{
    box-shadow: 0 8px 16px 0 rgb(204, 204, 179), 0 6px 20px 0 rgb(204, 204, 179)
}
input:focus{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(0, 0, 0, 0.8);
}
input:hover, textarea:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}
textarea:focus{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
.f1 {
    width: 25%;
    height: 25%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#fotos {
    width: 30%;
    display: block;
    margin: auto;
    background-color: white;
}

#ff1 {
    float: left;
    background-color: white;
    margin-left: 20px;
    margin-top: 35px;
}

#ff2 {
    float: right;
    margin-right: 20px;
}

#g1 {
}

#g2 {
}

.resultat {
    z-index: 20;
    margin: auto;
    width: 300px;
    height: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.95), 0 6px 20px 0 rgba(0, 0, 0, 0.95);
}

#fi {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#fi2 {
    position: relative;
    bottom: 10px;
}
.gen2 {
	display: block;
    margin: auto;
    width: auto;
}

.error {color: #ff070a;

}

#fondo_login {
    width: 105%;
    height: 110%;
    position:fixed;
    z-index: -1;
}

#fondo_reg {
    width: 130%;
    height: 100%;
    position:fixed;
    z-index: -1;
}
