@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
    font-weight: 400;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

form h4 {
    font-weight: 600;
}

.form-inline * {
    display: inline-block;
}


a {
    color: #000;
}

a:hover {
    color: #000;
    opacity: 0.8;
}

a:focus, a:visited, a:active {
    color: #000;
    outline: 0 !important;
}

.corporate {
    color: #fff;
    background-color: #2D323E;
    border: 0;
}


.corporate-dismiss {
    color: #000;
    background-color: #F0F0F0;
}

.corporate-dismiss:hover, .corporate-dismiss:focus {
    color: #000;
    background-color: #F0F0F0;
    opacity: 0.8;
}

.corporate-quicktask {
    color: #fff;
    background-color: #9C27B0;
    border: 0;
}

.corporate-payment:hover, .corporate-payment:focus,
.corporate-note:hover, .corporate-note:focus,
.corporate-quicktask:hover, .corporate-quicktask:focus {
    border: 0;
    opacity: 0.8;
}

.corporate-info {
    color: #fff;
    background-color: #6f7fa6;
    border: 0;
}

.corporate-info:hover, .corporate-info:focus {
    color: #fff;
    background-color: #6f7fa6;
    border: 0;
    opacity: 0.8;
}

.corporate-success {
    color: #fff;
    background-color: #5cb85c;
    border: 0;
}

.corporate-success:hover, .corporate-success:focus {
    color: #fff;
    background-color: #5cb85c;
    border: 0;
    opacity: 0.8;
}

.corporate-warning {
    color: #fff;
    background-color: #FF8800;
    border: 0;
}

.corporate-warning:hover, .corporate-warning:focus {
    color: #fff;
    background-color: #FF8800;
    opacity: 0.8;
}

.corporate-danger {
    color: #fff;
    background-color: #d9534f;
    border: 0;
}

.corporate-danger:hover, .corporate-danger:focus {
    color: #fff;
    background-color: #d9534f;
    border: 0;
    opacity: 0.8;
}

.no-overflow {
    overflow: hidden;
}

.invisible {
    visibility: hidden;
}


a {
    text-decoration: none !important;
}


.wrapper {
    overflow: hidden;
}

.overflow-none {
    overflow: hidden;
}

.row-eq-heigth {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.list-style-none {
    list-style-type: none;
    padding-left: 0;
}

.pd-none {
    padding: 0;
}

.pd-xs {
    padding: 5px;
}

.pd-sm {
    padding: 10px;
}

.pd-md {
    padding: 20px;
}

.pd-12 {
    padding: 12px;
}

.pd-24 {
    padding: 24px;
}

.pd-lg {
    padding: 30px;
}

.pt-xs {
    padding-top: 5px;
}

.pt-sm {
    padding-top: 10px;
}

.pt-14 {
    padding-top: 14px !important;
}

.pt-md {
    padding-top: 20px;
}

.pt-lg {
    padding-top: 30px;
}

.pb-xs {
    padding-bottom: 5px;
}

.pb-sm {
    padding-bottom: 10px;
}

.pb-md {
    padding-bottom: 20px;
}

.pb-lg {
    padding-bottom: 30px;
}

.pl-xs {
    padding-left: 5px;
}

.pl-sm {
    padding-left: 10px;
}

.pl-md {
    padding-left: 20px;
}

.pl-lg {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-xs {
    padding-right: 5px;
}

.pr-sm {
    padding-right: 10px;
}

.pr-md {
    padding-right: 20px;
}

.pr-lg {
    padding-right: 30px;
}

.pv-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ph-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.p-20 {
    padding: 20px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m-md {
    margin: 20px;
}

.m-2 {
    margin: 2px;
}

.m-24 {
    margin: 24px;
}

.m-lg {
    margin: 30px;
}

.mt-xs {
    margin-top: 5px;
}

.mt-sm {
    margin-top: 10px;
}

.mt-md {
    margin-top: 20px;
}

.mt-lg {
    margin-top: 30px;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-xs {
    margin-bottom: 5px;
}

.mb-sm {
    margin-bottom: 10px;
}

.mb-md {
    margin-bottom: 20px;
}

.mb-lg {
    margin-bottom: 30px;
}

.ml-xs {
    margin-left: 5px;
}

.ml-sm {
    margin-left: 10px;
}

.ml-md {
    margin-left: 20px;
}

.ml-lg {
    margin-left: 30px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-xs {
    margin-right: 5px !important;
}

.mr-sm {
    margin-right: 10px;
}

.mr-md {
    margin-right: 20px;
}

.mr-lg {
    margin-right: 30px;
}

.mr-xl {
    margin-right: 40px;
}

.f-25 {
    font-size: 25px;
}

.f-32 {
    font-size: 32px;
}

.mr-childs-xs * {
    margin-right: 5px !important;
}

.mr-childs-xs *:last-child {
    margin-right: 0px !important;
}

.hlight {
    font-size: 18px;
    font-weight: 300;
}

.valign-container-auto {
    display: table;
}

.valign-container {
    display: table;
    width: 100%;
}

.valign {
    display: table-cell;
    vertical-align: middle;
}

.card-container {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.width-40 {
    width: 40%;
}

.maxwidth-40 {
    max-width: 40%;
}

.card {
    background-color: rgb(245,245,245);
}

.inline-block {
    display: inline-block;
}

.img-res {
    width: 100%;
}

.input-md {
    height: 40px;
}

.maxwidth-70px {
    max-width: 70px;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.width-20  {
    width: 20%;
}

.width-30  {
    width: 30%;
}

.fieldset {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;

}


table.dataTable tbody td {
    vertical-align: middle;
}

.td-chk {
    border: 1px solid #ddd;
    border-left: 0;
    border-top: 0;
}

/*Buttons*/

.md-button {
    width: 88px;
    height: 38px;
    padding: 0 6px 0 6px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}


.md-button.large {
    width: auto;
}

.md-button.full {
    width: 100%;
}

.md-button:hover {
    opacity: 0.8;
}

.md-button.info {
    background-color: rgb(3,155,229);
    color: #FFF;
}

.md-button.disabled {
    background-color: #f1f1f1;
    color: #212121;
}

.md-button.label {
    height: auto;
    padding: 15px 6px;
    cursor: pointer;
}

.md-button.label input[type="radio"]:checked ~ label {
    color: #fff;
    background-color: #5cb85c;
}

.md-button.danger {
    color: #fff;
    background-color: #d9534f;
}

.md-button.success {
    color: #fff;
    background-color: #5cb85c;
}

.md-button[disabled] {
    color : rgba(0, 0, 0, 0.4);
    background: buttonface;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}



.btn-quicktask {
    background-color: #9C27B0;
    color: #fff;
}

.btn-quicktask:hover {
    color: #fff;
}

.btn-quicktask:active {
    color: #fff;
}


/* Alerts */

.content-alerts {
    z-index: 9999;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/*Sidenav*/

#sidenav .shadow {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.08), 0 0 0 rgba(0,0,0,0.23);
    height: 76px;
    min-height: 76px;
    max-height: 76px;
}

aside.sidenav {
    position: fixed;
    display: inline-block;
    background: #2D323E;
}
aside.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: .375em 0;
}
aside.sidenav ul li {
    position: relative;
    display: block;
    padding: 1em 1.375em;
    background: #2D323E;
    cursor: pointer;
    border-bottom: 1px solid #485063;
}

aside.sidenav ul li:hover {
    opacity: 0.7;
}

aside.sidenav ul li svg {
    fill: #cbd5df;
    width: 1.35em;
    height: 1.35em;
    vertical-align: middle;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
aside.sidenav ul li .float-label {
    position: absolute;
    z-index: -1;
    font-size: .75em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    top: 50%;
    left: 100%;
    background: #2D323E;
    padding: .5em 1em;
    display: block;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

aside.sidenav ul li i {
    color: #FFF;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

aside.sidenav ul li .float-label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border: .5em solid transparent;
    border-right-color: white;
    border-left: none;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: -webkit-transform .15s .3s ease-in-out;
    transition: -webkit-transform .15s .3s ease-in-out;
    transition: transform .15s .3s ease-in-out;
    transition: transform .15s .3s ease-in-out, -webkit-transform .15s .3s ease-in-out;
}
aside.sidenav ul li:hover {
    background: rgba(25, 35, 45, 0);
    -webkit-transition: background 0 .3s;
    transition: background 0 .3s;
}

aside.sidenav ul li:hover .float-label {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
aside.sidenav ul li:hover .float-label::before {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

aside.sidenav ul li .section {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
}

.navbar .cont {
    position: relative;
    height: 75px;
    display: inline-block;
}

.navbar .cont.left {
    left: 25px;
}

.navbar .cont.right {
    float: right;
    right: 25px;
}

.float-right {
    float: right;
}

.navbar .cont.user:hover {
    background-color: rgba(0,0,0,0.1);
}

.navbar .logo {
    height: 75px;
}

.navbar .username {
    font-size: 14px;
    font-weight: 500;
}

.navbar .arrow {
    position: absolute;
    bottom: 25px;
    right: 0px;
    font-size: 20px;
}

.navbar .userimg {
    width: 50px;
}

.navbar .burguer {
    position: relative;
    top: 7px;
    margin-right: 20px;
    color: #FFF;
    cursor: pointer;
}

.fa-1x{
    font-size: 1.5em;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-size: 16px;
    float: left !important;
    width: 17%;
}

.fc-event-container {
    position: relative;
}

.fc-day-top button {
    position: relative;
    width: 80%;
    border-radius: 6px;
}

tr:first-child>td>.fc-day-grid-event {
    position: relative;
}

.custom-checkbox-container {
    width: 100%;
}

.custom-checkbox-container .auto-select-container {
    float: right;
    margin-right: 20px;
    display: inline-block;
}

.custom-checkbox {
    width:100%;
    height:30px;
    text-align:center;
    margin-right:6px;
}

.custom-checkbox:hover {
    cursor: pointer;
    opacity: 0.8;
}

.custom-checkbox.large {
    display: inline-block;
    float: left;
    width:25px;
    height:25px;
    border:2px solid #1b1b1b;
    border-radius:3px;
}

.custom-checkbox.small label i {
    font-size:16px;
}

.custom-checkbox.large label i {
    font-size:21px;
}

.custom-checkbox label div {
    display: table-cell;
    vertical-align: middle;
}

.custom-checkbox input {display: none !important;}
.custom-checkbox label.month {
    width: 100%;
    height: 100%;
    display: table;

}
.custom-checkbox label i {opacity: 0}
.custom-checkbox label span {
    text-transform: capitalize;
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.custom-checkbox input:checked+label.month { background-color: #5cb85c;}
.custom-checkbox input:checked+label i { opacity: 1;}
.custom-checkbox-label {
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 1199px) {
    aside.sidenav ul li .section {
        display: none !important;
    }
}

@media (min-width: 1199px) {

    aside.sidenav {
        width: 240px;
    }
}

/*Hamburguer*/

.hamburguer-bt {
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 60px;
    margin-top:-30px;
    transition: all .2s ease-out;
}

.hamburguer-bt .hamburguer-bt__stripe {
    width: 100%;
    height: 10px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.hamburguer-bt.on .hamburguer-bt__stripe__top {
    transform: rotate(45deg) translate(10px, 10px);
}

.hamburguer-bt.on .hamburguer-bt__stripe__middle {
    opacity: 0;
}

.hamburguer-bt.on .hamburguer-bt__stripe__bottom {
    transform: rotate(-45deg) translate(10px, -10px);
}

/*Page title*/

.content-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    background-size: cover;
    background-color: #FFF;
    font-size: 24px;
    border-bottom: solid 1px #e4e4e4;
}

.content-title * {
    align-self: center;
}

.nc {
    color: #FFF;
}

.black-less {
    color: #212121;
}

.pointer {
    cursor: pointer;
}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 1s linear infinite !important;
    -o-animation: progress-bar-stripes 1s linear infinite !important;
    animation: progress-bar-stripes 1s linear infinite !important;
}

.action:hover {
    opacity: 0.6;
}

.custom-control {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 5px solid #ddd;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
}

.custom-radio .custom-control-indicator {
    border-radius: 50%;
}

.custom-control-description {
    margin-left: 17px;
    margin-top: 7px;
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    border: 5px solid #0275d8;
    background-color: #FFF;
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: fixed;
    bottom: 52px;
    right: 36px;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

.btn-floating.btn-large {
    width: 56px;
    height: 56px;
    line-height: 56px;
}

.btn-floating span {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}

.blue {
    background-color: #039be5;
}

.btn-square {
    width: 30%;
    height: 150px;
}

/*Sliders*/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch.centered {
    display: block;
    width: 48px;
    margin: 0 auto;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*Dropdown*/

dropdown {
    display: inline-block;
}

dropdown label, dropdown ul li {
    display: block;
    color: #FFF;
    padding: 27px 20px;
}

dropdown label:hover, dropdown ul li:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

dropdown label {
    color: #FFF;
}

dropdown input {
    display: none;
}

dropdown input ~ ul {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -20px;
    z-index: 1;
}

dropdown input:checked + label {
    background-color: rgba(0,0,0,0.1);
}

dropdown input:checked ~ ul {
    visibility: visible;
    opacity: 1;
    top: 0;
}

dropdown ul a li {
    border-left: 4px solid rgb(3,155,229);
}

dropdown ul a li:hover {
    background-color: rgb(3,155,229);
    color: white;
    border-left: 4px solid rgb(255,255,255);
}

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome and Safari */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
}

/* Sidenav Nuevo */

.leftpanel {
    position: fixed;
    display: inline-block;
    background: #2D323E;
    width: 240px;
    height: 1024px;
    color: #fff;
    z-index: 1000;
}

.leftpanel .nav-tabs {
    border-bottom: 0;
}

.leftmenu .nav-tabs > li {
    margin: 0;

}

.leftmenu .nav-header {
    font-weight: 300;
    font-size: 11px;
    padding: 5px 20px;
    text-shadow: none;
    background: #232323;
    border-bottom: 1px solid #222;
    color: #999;
}

.nav-stacked > li + li {
    margin-top: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    opacity: 0.7;
    background: none;
    border: 0;
    cursor: pointer;
}

.leftmenu .nav-tabs.nav-stacked > li > a {
    border: 0;
    border-bottom: 1px solid #232323;
    margin: 0;
}

.leftmenu .nav-tabs.nav-stacked a {
    color: #FFF;
    padding: 10px 20px;
    font-size: 18px;
}

.leftmenu ul {
    list-style: none;
}

.leftmenu .nav-el {
    color: #FFF;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul {
    background: #eee;
    padding: 0;
}

.leftmenu .nav-tabs.nav-stacked .current {
    background-color: rgb(3,155,229);
    color: #FFF !important;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a:hover{
    text-decoration: none;
    background-color: #fff;
    color: #333 !important;
    cursor: pointer;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    padding: 7px 10px 7px 30px;
}

.cont-less {
    max-width: 1150px;
}

.sticky-header {
    position: fixed;
    top: 75px;
    width: 100%;
    display: table;
    z-index: 999;
}

#feedback { font-size: 1.4em; }

/* CALENDAR */

.fc-event .fc-content {
    font-size: 15px;
    padding: 4px;
}

.dashboard-element .widget-cont {
    height: 224px;
}

.dashboard-element .link button{
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
}

.dashboard-element .header .title {
    margin: 0 8px;
    font-weight: 400;
    display: inline-block;
    line-height: 1.9;
}

.dashboard-element .header select {
    display: inline-block;
    width: 30%;
    float: right;
}

.dashboard-element .content {
    text-align: center;
    min-height: 121px;
}

.dashboard-element .content .number {
    line-height: 72px;
    font-size: 72px;
}

.dashboard-element .content .info {
    color: rgba(0,0,0,0.54);
    font-weight: 500;
    margin: 0;
}

.widget-cont {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    background-color: #FFF;
    border-bottom: solid 1px #e4e4e4;
}


.interval-control {
    display: inline-block;
}

.day-selector {
    display: inline-block;
}

.label-30 {
    width: 30%;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}


/*ANIMATIONS*/

.animated {
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.fadeInRight {
    animation-name: fadeInRight;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.bar {
    height: 18px;
    background: green;
}

.checkeable-buttons {
    padding: 15px 6px;
}

.tbl-header {
    padding-right: 17px;
}

.tbl-header table {
    width: 100%;
    color: #fff;
    table-layout: fixed;
}

.tbl-header table td {
    border: solid 1px #1b1b1b;
    text-align: center;
}

.tbl-header .month {
    width: 2.5%;
}

.tbl-content{
    height:518px;
    overflow-x:auto;
    margin-top: 0px;
}

.assign {
    width: 100%;
    color: #fff;
    table-layout: fixed;
}

.assign .arow {
    /*height: 100px;*/
}

.assign .arow.program td {
    background-color: #aeaeae;
    color: #1b1b1b;
    border-color: #1b1b1b;
}

.assign .arow.routine td {
    background-color: #cbcbcb;
    color: #1b1b1b;
    border-color: #1b1b1b;

}

.assign .arow.task td {
    background-color: #e2e2e2;
    color: #1b1b1b;
    border-color: #1b1b1b;
}

.tbl-header .td-collapse,
.assign .td-collapse {
    width: 10%;
}

.tbl-header .info,
.assign .info {
    width: 60%
}

.assign .info .custom-checkbox-container {
    display: table;
}

.assign .months {
    width: 30%;
}

.assign .months table{
    width: 100%;
    height: 60px;
}


.assign .months table .month-24 .td-chk{
    border-bottom: 0;
}

.assign .months table .td-chk{
    width: 8.3%;
}

/*Admin Template*/

[data-loading-text] {
    min-width: 78.6px;
}

.skin-blue .main-header .logo {
    background-color: #2D323E;
}

.skin-blue .main-header .logo:hover {
    background-color: rgba(45,50,62,0.9);
}

.main-header .logo .logo-lg {
    display: block;
    background-image: url(/bundles/app/images/logo-less2do.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

[class^="skin-"] .wrapper {
    background-color: #edf2f6;
}

.btn-primary:focus, .btn-primary:visited, .btn-primary[disabled]:focus, .btn-primary[disabled]:visited, .btn-primary[disabled]:hover, .btn-primary:active, .btn-primary[disabled]:active {
    color: #fff;
    background-color: #6375A6;
    border-color: #204d74;
}

.loadermodal-wrapper,
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #edf2f6;
    z-index: 1040;
}

.loadermodal-wrapper .loader,
.loader-wrapper .loader {
    display: block;
    position: relative;
    background-image: url("/bundles/app/images/less2doo.png");
    background-size: cover;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 188px;
    margin-top: -150px;
    margin-left: -150px;
}

.loadermodal-wrapper .loader.no-image,
.loader-wrapper .loader.no-image {
    background-image: none;
}

.loadermodal-wrapper .moving,
.loader-wrapper .moving{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

.loadermodal-wrapper .moving span,
.loader-wrapper .moving span{
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #6375A6;
}

.loadermodal-wrapper .moving span:nth-child(1),
.loader-wrapper .moving span:nth-child(1){
    animation: grow 1s ease-in-out infinite;
}

.loadermodal-wrapper .moving span:nth-child(2),
.loader-wrapper .moving span:nth-child(2){
    animation: grow 1s ease-in-out 0.15s infinite;
}

.loadermodal-wrapper .moving span:nth-child(3),
.loader-wrapper .moving span:nth-child(3){
    animation: grow 1s ease-in-out 0.30s infinite;
}

.loadermodal-wrapper .moving span:nth-child(4),
.loader-wrapper .moving span:nth-child(4){
    animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow{
    0%, 100%{
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }

    50%{
        -webkit-transform: scaleY(1.8);
        -ms-transform: scaleY(1.8);
        -o-transform: scaleY(1.8);
        transform: scaleY(1.8);
    }
}

.treeview-menu>li>a {
    padding: 10px 5px 10px 15px;
}


/* Auth Template */

.background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
}

.card {
    background-color: rgb(245,245,245);
}

.card-container {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#login {
    align-self: center;
}

#login .content {
    width: 390px;
}

#login .content img {
    width: 250px;
}


.tooltip-mine {
    position: relative;
}

/* Tooltip text */
.tooltip-mine .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #e2e2e2;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-mine .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

@media (max-width: 1024px) {

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip-mine:hover .tooltiptext {
        visibility: visible;
    }
}


/*.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
    z-index: 0;
}*/

/* TOOLTIP */
.custom-tooltip {
    position: absolute;
    z-index: 9999 !important;
    width: 360px;
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 5px 4px rgba(0,0,0,0.3));
    filter: drop-shadow(0px 5px 4px rgba(0,0,0,0.3));
}

.custom-tooltip.top-right {
    -webkit-filter: drop-shadow(3px 4px 3px rgba(0,0,0,0.3));
    filter: drop-shadow(3px 4px 3px rgba(0,0,0,0.3));
}

.custom-tooltip.top-left {
    -webkit-filter: drop-shadow(-5px 4px 3px rgba(0,0,0,0.3));
    filter: drop-shadow(-5px 4px 3px rgba(0,0,0,0.3));
}

.custom-tooltip .tooltip-header {
    background-color: #2D323E;
    padding: 15px 10px;
}

.custom-tooltip .tooltip-header span {
    color: #FFF;
}

.custom-tooltip .tooltip-content {
    color: #000;
    word-wrap: break-word;
    overflow-y: auto;
    height: 238px;
    padding: 10px;
}

.custom-tooltip .tooltip-footer {
    text-align: center;
    padding: 10px;
    background-color: #2D323E;
}

.custom-tooltip .tooltip-footer button {
    position: relative;
    width: 37px;
    height: 36px;
    border-radius: 22px;
}

.custom-tooltip .tooltip-footer button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
}

.custom-tooltip:before {
    content: '';
    position: absolute;
    left: 47%;
    right: 100%;
    border-style: solid;
    border-width: 14px 28px 14px 0;
    border-color: rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}


.custom-tooltip.bottom-right:before,
.custom-tooltip.bottom-left:before {
    top: 0;
}

.custom-tooltip.bottom-right:before {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    border-color: rgba(0, 0, 0, 0) #2D323E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0px 33px 33px 0px;
}

.custom-tooltip.bottom-left:before {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    border-color: rgba(0, 0, 0, 0) #2D323E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0px 33px 20px 0;
}

.custom-tooltip.top-left:before,
.custom-tooltip.top-right:before {
    bottom: 0;
    border-width: 0px 33px 33px 0;
    border-color: rgba(0, 0, 0, 0) #2D323E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.custom-tooltip.top-left:before {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
}

.custom-tooltip.top-right:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom-tooltip.bottom-left:before,
.custom-tooltip.top-left:before {
    left: -28px;
}

.custom-tooltip.top-right:before,
.custom-tooltip.bottom-right:before {
    left: 360px;
}

.modal-open {
    overflow: auto !important;
    padding-right: 0px !important;
}

.modal-dialog {
    overflow-y: initial !important
}
.modal-dialog.scrollable .modal-body{
    height: 700px;
    overflow-y: auto;
}

/*PULSE*/

body {
    background: #fff;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 100% 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.pulse {
    display: inline-block;
    margin-top: 15px;
    float: right;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    position: relative;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.pulse:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: pulse 3s infinite linear;
    animation: pulse 3s infinite linear;
}

.pulse:after {
    -webkit-animation: pulse 3s 2s infinite linear;
    animation: pulse 3s 2s infinite linear;
}

.pulse:before, .pulse:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    opacity: 0;
}

@keyframes pulse {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    33% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

.pulse[data-status="running"]:before, .pulse[data-status="running"]:after { background: rgba(127, 185, 0, 0.2); }
.pulse[data-status="pending"]:before, .pulse[data-status="pending"]:after { background: rgba(243, 156, 18, 0.2); }
.pulse[data-status="failed"]:before, .pulse[data-status="failed"]:after { background: rgba(192, 57, 43, 0.2); }

.pulse[data-status="running"] .status { background: rgba(127, 185, 0, 1); }
.pulse[data-status="pending"] .status { background: rgba(243, 156, 18, 1); }
.pulse[data-status="failed"] .status { background: rgba(192, 57, 43, 1); }

/* Typeahead */
#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

.control-sidebar-bg, .control-sidebar {
    width: 800px;
    right: -800px;
}

.control-sidebar .control-actions {
    position: fixed;
    width: 800px;
    bottom: 0;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: #fefefe;
    border-top: 1px solid #d2d6de;
    z-index: 150;
}

.control-sidebar .control-actions * {
    align-self: center;
}

@media (max-width:767px){
    .main-header .logo .logo-lg {
        background-size: contain;
    }

    .control-sidebar-bg, .control-sidebar {
        width: 100%;
        right: -100%;
    }
}

/*Checkboxes and Radio*/

label.with-square-checkbox {
    cursor: pointer;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
label.with-square-checkbox span {
}
label.with-square-checkbox span::before {
    width: 21px;
    height: 21px;
    border: 2px solid grey;
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 16px;
}
label.with-square-checkbox input[type="checkbox"] {
    display: none;
}
label.with-square-checkbox input[type="checkbox"]:checked + span::before {
    font-family: 'Glyphicons Halflings';
    content: '\e013';
    color: #6f7fa6;
}


label.with-square-checkbox-with-label {
    cursor: pointer;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
label.with-square-checkbox-with-label span {
    line-height: 24px;
}
label.with-square-checkbox-with-label span::before {
    margin-right: 4px;
    padding-left: 1px;
    width: 21px;
    height: 21px;
    border: 2px solid grey;
    display: inline-block;
    line-height: 15px;
    content: '';
    float: left;
}
label.with-square-checkbox-with-label input[type="checkbox"] {
    display: none;
}
label.with-square-checkbox-with-label input[type="checkbox"]:checked + span::before {
    font-family: 'Glyphicons Halflings';
    content: '\e013';
    color: #6f7fa6;
}

/* End CheckBoxed and Radios*/

.checkeable {
    opacity: 0.6;
    min-width: 80px;
}

.checkeable.checked {
    opacity: 1;
}

.half-width {
    width: 50%;
}

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.middle {
    justify-content: center;
    align-content: center;
}

.flex.middle > div {
    align-self: center;
}

.flex.fill-to-center > div:first-child,
.flex.fill-to-center > div:last-child {
    flex-grow: 1;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.shared-grow div {
    width: 100%;
    flex-grow: 1;
    padding-right: 20px;
}

.flex.shared-grow div:last-child {
    padding-right: 0;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding: 6px 20px;
}

.input-with-icon span {
    position: absolute;
    right: 10px;
    top: 10px;
}

.day-config {
    display: none;
    border: 1px solid #dedede;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.day-config.opn {
    display: block !important;
    -webkit-transition: display 2s;
    transition: display 2s;
}


.tab-pane > .content {
    display: none !important;
}

.tab-pane.active > .content {
    display: block !important;
}

.stepper {
    position: fixed;
    z-index: 999;
    background-color: #FFF;
    top: 0;
    width: 100%;
}

.stepper .nav>li>a:focus, .nav>li>a:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .stepper .nav>li:not(.active) {
        display: none !important;
    }

    .stepper .bar-left,
    .stepper .bar-right {
        display: none !important;
    }
}

.nav li .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.nav li .step * {
    align-self: center;
}

.nav li h4 {
    opacity: 0.7;
}

.nav li.active h4 {
    color: #212121;
    opacity: 1;
}

.nav li .step .circle {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #9E9E9E;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5em;
    font-size: 16px;
    color: white;
}

.nav li.active .step .circle {
    background-color: #19a28d;
}

.nav li .step .bar-left,
.nav li .step .bar-right {
    position: absolute;
    top: 31px;
    height: 1px;
    border-top: 1px solid #BDBDBD;
}

.nav li .step .bar-left {
    left: 0;
    right: 50%;
    margin-right: 33px;
}

.nav li .step .bar-right {
    right: 0;
    left: 50%;
    margin-left: 33px;
}

.nav li:first-child .step .bar-left,
.nav li:last-child .step .bar-right {
    display: none !important;
}

.card-container {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Full Calendar Events*/

.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.task {
    background-color: #6f7fa6;
    color: #fff;
    border: 0;
}

.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.quick-task {
    background-color: #9C27B0;
    color: #fff;
    border: 0;
}

.corporate-note,
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.note {
    background-color: #FF8800;
    color: #fff;
    border: 0;
}

.corporate-payment,
.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.payment {
    background-color: #d9534f;
    color: #fff;
    border: 0;
}

.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.paused {
    background-color: #DBDBDB;
    color: #fff;
    border: 0;
}

.full-calendar-body .dates .dates-events .events-week .events-day .event-box .event-item.success {
    background-color: #5cb85c;
    color: #fff;
    border: 0;
}

.fc-view-container {
    background-color: rgb(255, 255, 255) !important;
}

.fc-more-popover .fc-event-container {
    height: 175px;
    overflow-y: scroll;
}

/* End Full Calendar Events*/

/* Full calendar options */
.filter {
    justify-content: flex-end;
    padding: 0 10px;
}

.filter .options-container {
    position: absolute;
    background: #FFF;
    width: 305px;
    z-index: 100;
    border: solid 1px;
    top: 33px;
    right: 24px;
    padding: 5px 10px;
}
/*END*/

body {
    background-color: #f1f1f1;
}

.booking-background {
    background-color: #19a28d;
    color: #FFF;
}

a.booking,
a.booking:focus,
a.booking:visited,
a.booking:active {
    color: #19a28d;
}

a.booking:hover {
    opacity: 0.8;
}

.invisible {
    opacity: 0;
}

.foodbox h3 {
    margin-top: 6px !important;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    display: -webkit-box;
}
.foodbox .thumbnail {
    padding: 0px !important;
    border: 0px solid rgba(78, 78, 78, 0.36);
    box-shadow: 1px 1px 1px #929292;
    border-radius: 2px;
    max-width: 262px;
    max-height: 238px;
    background: #fff;
}
.foodbox .thumbnail img {
    width: 262px;
    height: 174px;
}
.foodbox p {
    color: rgba(51, 51, 51, 0.63);
}
.foodbox .responsive p {
    margin: 0 0 0px !important;
    font-size: 14px;
}
.foodbox .responsive {
    float: left;
    box-sizing: border-box;
    padding: 8px 10px;
}

.foodbox .responsive.info {
    float: right;
    padding-top: 4px;
}

.foodbox .responsive.info .h3 {
    margin: 0;
}

.foodbox .contentPart {
    width: 63%;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 52px;
}
.foodbox .cartPart {
    width: 37%;
    padding: 13px 5px;
}
.foodbox .thumbnail .caption {
    padding: 5px 9px;
}
.foodbox .pricesection {
    position: absolute;
    top: 5px;
    z-index: 998;
}
.foodbox .pricesection {
    /*       width: 262px; */
    /* background: rgba(0,0,0,0.4); */
    max-width: 262px;
    width: 90%;
}
.foodbox .pricesection h3 {
    color: #fff !important;
}
.foodbox .pricesection .h3 {
    position: relative;
    color: #fff !important;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
    font-weight: 500;
    box-sizing: border-box;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.foodbox .pricesection .h3.circular {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor : pointer;
    background: rgba(0, 0, 0, 0.77);
}

.foodbox .pricesection .h3.circular:hover {
    background: rgba(0, 0, 0, 0.6);
}

.foodbox .pricesection .h3:hover {
    background: rgba(0, 0, 0, 0.77);
}

.foodbox .addRemoveButton {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: transparent;
    /* color: #333; */
    line-height: 1.1;
    font-size: 15px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.foodbox .addButton {
    border-color: #EA485F;
    color: #EA485F;
}
.foodbox .addButton:hover {
    background: #EA485F;
    color: #fff;
}
.foodbox .removeButton {
    border-color: rgba(0, 0, 0, 0.45);
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.foodbox .removeButton:hover {
    border-color: rgba(0, 0, 0, 0.69);
    color: rgba(0, 0, 0, 0.69);
}
.foodbox .vegNonvegIcon {
    margin-top: -4px;
}
.foodbox img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.foodbox .onlyaddButton {
    background: transparent;
    color: #19a28d;
    border: 1px solid #19a28d;
    padding: 4px 12px;
    transition: all 0.25s ease;
    font-size: 1em;
}
.foodbox .onlyaddButton:hover {
    background: #19a28d;
    color: #fff;
}
.foodbox p.foodDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 20px;
    /* fallback */
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}
.foodbox .availOption {
    position: absolute;
    bottom: 93px;
    height: 0px;
    z-index: 999;
}
.foodbox .itsAvailable {
    padding: 2px 5px;
    background: #4CAF50;
    color: #fff;
}
.foodbox .itsSoldOut {
    padding: 2px 5px;
    background: #FF5722;
    color: #fff;
}
.foodbox .fillingFast {
    padding: 2px 5px;
    background: #FF9800;
    color: #fff !important;
}
.foodbox .clearfix {
    max-width: 262px;
    /* max-height: 238px; */
}
.foodbox .foodMoreDesc {
    display: none;
    padding: 14px;
    background: #fff;
    position: absolute;
    bottom: 21px;
    left: auto;
    max-width: 262px;
    z-index: 999;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    max-height: 122px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #6B6B6B;
    margin-top: 10px;
}
.foodbox .closeDesc {
    color: #fff;
    background: #FF5722;
    height: 22px;
    width: 22px;
    display: block;
    text-align: center;
    border-radius: 2px;
    position: static;
    text-decoration: none;
    float: right;
}
.foodbox .closeDesc i {
    color: #fff;
}
.foodbox p.foodDesc a {
    color: #E91E63;
    text-decoration: none;
}
.foodbox p.foodDesc a:hover {
    color: #E6539C;
}

.foodbox .btn-group-sm>.btn, .btn-sm {
    padding: 5px 8px;
}

.foodbox .pricesection .without-discount {
    position: absolute;
    width: 100%;
    background-color: #F00;
    height: 2px;
    transform: rotate(-21deg);
    top: 13px;
    left: 0;
}

.resume {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
}

.resume>div {
    padding: 10px 20px;
}

.resume .cont-toggle {
    border-bottom: 1px solid #d1d1d1;
}

.resume .content {
    height: 300px;
    overflow-y: auto;
}

.resume .selected-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resume .item {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px #d1d1d1;
}

.resume .toggle {
    position: absolute;
    right: 30px;
    font-size: 2em;
    top: 15px;
}

.resume .item:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
}

.resume .item:last-child {
    margin: 0;
}

.resume .item .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    align-content: center;
}

.resume .item .info span {
    align-self: center;
    font-size: 1.2em;
}

.resume .item .info .quantity {
    padding-right: 4px;
    white-space: nowrap;
}

.resume .item .info .name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.resume .item .info .price {
    padding-left: 4px;
    white-space: nowrap;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

#table-booking {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
    font-size: 18px;
    display: table;
    width: 100%;
    padding: 15px 15px;
    border-top: 0;
    background-color: #f1f1f1;
}

#table-booking .btn-move {
    display: inline-block;
    border-radius: 0;
    background-color: #212121;
    color: #ffffff;
    border-color: #212121;
}

#table-booking .btn-move span {
    font-size: 20px;
}

#table-booking .btn-move.back {
    background-color: #FFF;
    color: #212121;
    border-color: #FFF;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#table-booking .btn-move.next {
    background-color: #FFF;
    color: #212121;
    border-color: #FFF;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#table-booking .btn-move.back,
#table-booking .btn-move.next {
    font-size: 16px;
}

#table-booking .column {
    padding: 0 2px;
    margin: 0px 2px;
    display: table-cell;
    text-align: center;
    width: 12.5%;
}


#table-booking .column ul {
    list-style: none;
    padding: 0;
}

#table-booking .column ul li{
    margin: 5px 0px;
}

#table-booking .column .time {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #19a28d;
    color: #ffffff;
    white-space: nowrap;
    font-size: 19px;
    box-shadow: 0 0 0 0;
}

#booking .green {
    background-color: #19a28d;
    width: 102px;
    height: 52px;
}

#booking .green span {
    display: block !important;
}

#booking .green:hover,
#table-booking .column .time:hover,
#table-booking .column .time.checked {
    background-color: #212121;
    opacity: 1;
}

#table-booking .column .disabled {
    text-decoration: none;
    background-color: #e4e3e3;
    color: #303030;
}

#table-booking .column .disabled .no-available {
    display: none;
}

#table-booking .column .disabled:hover {
    background-color: #e4e3e3;
    color: #303030;
    opacity: 1;
}

@media (min-width: 1024px) {

    #table-booking .column .disabled:hover {
        background-color: #555;
        color: #e2e2e2;
    }

    #table-booking .column .disabled:hover .no-available {
        display: block;
    }

    #table-booking .column .disabled:hover .available {
        display: none;
    }
}

#table-booking,
#items-booking,
#personal-booking,
#payment-booking,
#resume-booking {
    padding: 15px 15px;
}

@media (max-width: 768px) {
    #table-booking .column {
        display: block;
        width: 100%;
    }
}

.header-day {
    background-color: #212121;
    position: relative;
    padding: 15px 0px;
}

.header-day div span {
    display: block;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #ededed;
}

#booking .tab-pane {
    margin-top: 99px;
    margin-bottom: 60px;
}

#items-booking .tab-pane {
    margin-top: 20px;
}

#items-booking .categories {
    list-style: none;
    background-color: #FFF;
    border-radius: 6px;
    padding: 0;
}


#items-booking .categories li {
    padding: 8px 20px;
    cursor: pointer;
    color: #212121;
}

#items-booking .categories li.active {
    color: #000;
    font-weight: 500;
    font-size: 1.2em;
}


#items-booking .categories li:first-child {
    padding-top: 8px;
}

#items-booking .categories li:last-child {
    padding-bottom: 8px;
}

.cont {
    padding: 20px 25px;
    background-color: #FFF;
    border-radius: 6px;
}

.table-resume {
    border-bottom: 3px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #FFF;
}

.table-resume .nothing-selected {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.table-resume .nothing-selected * {
    align-self: center;
}

@media (min-width: 992px) {
    .table-resume {
        border-top: none;
    }
}

.table-resume .subtable {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table-resume .subtable.header {
    background-color: #ebeced;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: 700;
    padding: .75rem;
}

.table-resume .subtable .field {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.table-resume .subtable .field.article {
    vertical-align: top;
    width: 20%;
    padding-left: 17px;
}

.table-resume .subtable .field.article img {
    display: block;
    width: 100%;
    height: 120px;
}

.table-resume .subtable .field.data {
    padding-left: 1rem;
    width: 80%;
}


.table-resume .subtable .field.close {
    width: 20%;
}

@media (min-width: 992px) {
    .table-resume .subtable .field.article {
        width: 20%;
    }
    .table-resume .subtable .field.data {
        width: 80%;
    }
    .table-resume .subtable .field.space {
        width: 40%;
    }
    .table-resume .subtable .field.close {
        width: 7%;
    }
}
.table-resume .item {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .75rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .2143rem;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
}

.btn-group>.btn {
    float: left;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.more-minus {
    margin: .2rem;
}

.more-minus .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .42rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2143rem;
    transition: all .2s ease-in-out;
}

.more-minus .btn-secondary {
    color: #444;
    background-color: #e2e2e2;
    border-color: #d2d2d2;
}

.more-minus.btn-group-sm button {
    padding: 3.5px 3px;
}

.more-minus.btn-group-sm button span.fa {
    font-style: normal;
    line-height: 1;
    font-size: 2rem;
    padding: .25rem;
    position: inherit;
    top: inherit;
    right: inherit;
}

.more-minus .form-control {
    border-radius: 0;
    float: left;
    font-weight: 700;
    line-height: 19px;
    margin: 0 -1px;
    padding: 6px;
    position: relative;
    text-align: center;
    top: 0;
    width: 38px;
}

.more-minus.btn-group .form-control {
    border-radius: 0;
    line-height: 16px;
    padding: 0;
    width: 30px;
}

.more-minus>.btn,
.more-minus>input {
    height: 32px;
}

.resume-client span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.space {
    opacity: 0;
}

.btn-circle {
    width: 60px;
    height: 55px;
    padding: 10px 16px;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 1.34;
    background-color: #19a28d;
    border-color: #19a28d;
    color: #ffffff;
}

.food-selected-tab span{
    color: #19a28d;
}