<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet"  href="./css/main.css"/>
</head>
<body>
<div class="wrapper">
    <div id="booking">
        <div class="stepper card-container flex flex-row middle pl-md pr-md">
            <div>
                <span type="button" class="btn btn-primary btn-circle btn-lg hidden-md hidden-lg" @click="backTab()">
                    <i class="fa fa-angle-left"></i>
                </span>
            </div>

            <ul class="nav nav-justified control-sidebar-tabs">
                <li v-for="(tab, key) in tabs" :class="{active: currentTab === key}">
                    <a @click="selectTab(key)">
                        <div class="step">
                            <div>
                                <img :src="tab.img">
                            </div>
                            <div class="food-selected-tab">
                                <span class="inline-block" v-if="currentTab === key">●</span>
                                <h4 class="inline-block">{{ tab.title }}</h4>
                                <span class="inline-block" v-if="currentTab === key">●</span>
                            </div>
                            <div class="bar-left"></div>
                            <div class="bar-right"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <div>
                <span type="button" class="btn btn-primary btn-circle btn-lg hidden-md hidden-lg" @click="nextTab()">
                    <i class="fa fa-angle-right"></i>
                </span>
            </div>

        </div>
        <div :class="{'in active' : currentTab === 'hamburguesas' }" class="tab-pane fade" id="bm-hamburguesas">
            <div class="content">
                <p>Soy Hamburguesas</p>
            </div>
        </div>
        <div :class="{'in active' : currentTab === 'complementos' }" class="tab-pane fade" id="bm-complementos">
            <div class="content">
                <p>Soy Complementos</p>
            </div>
        </div>
        <div :class="{'in active' : currentTab === 'bebidas' }" class="tab-pane fade" id="bm-bebidas">
            <div class="content">
                <p>Soy Bebidas</p>
            </div>
        </div>
        <div :class="{'in active' : currentTab === 'postres' }" class="tab-pane fade" id="bm-postres">
            <div class="content">
                <p>Soy Postres</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: booking,
        data: {
            currentTab: 0,
            tabs: [
                {
                    name: "hamburguesas",
                    title: "Hamburguesas",
                    img: "https://png.icons8.com/office/40/000000/hamburger.png"
                },
                {
                    name: "complementos",
                    title: "Complementos",
                    img: "https://png.icons8.com/office/40/000000/french-fries.png"
                },
                {
                    name: "bebidas",
                    title: "Bebidas",
                    img : "https://png.icons8.com/office/40/000000/beer-can.png"
                },
                {
                    name: "postres",
                    title: "Postres",
                    img: "https://png.icons8.com/office/40/000000/ice-cream-cone.png"
                },
            ]
        },
        methods: {
            backTab() {
                let tabs = this.tabs.length;
                this.currentTab += 1;
            },
            selectTab(tab) {
                this.currentTab = tab;
            },
            nextTab() {
                let tabs = this.tabs.length;
                this.currentTab -= 1;
            },
        }
    });
</script>
</body>
</html>
